# Docs for the Azure Web Apps Deploy action: https://github.com/azure/functions-action
# More GitHub Actions for Azure: https://github.com/Azure/actions
# More info on Python, GitHub Actions, and Azure Functions: https://aka.ms/python-webapps-actions

name: Build and deploy Python project to Azure Function App - shopsphere-user-auth

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  AZURE_FUNCTIONAPP_PACKAGE_PATH: 'user-auth' # set this to the path to your web app project, defaults to the repository root
  PYTHON_VERSION: '3.12' # set this to the python version to use (supports 3.6, 3.7, 3.8)

jobs:
  build:
      runs-on: ubuntu-latest
      permissions:
        contents: read #This is required for actions/checkout
  
      steps:
        - name: Checkout repository
          uses: actions/checkout@v4
  
        - name: Setup Python version
          uses: actions/setup-python@v5
          with:
            python-version: ${{ env.PYTHON_VERSION }}
  
        - name: Create and start virtual environment
          working-directory: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
          run: |
            python -m venv venv
            source venv/bin/activate
  
        - name: Install dependencies  
          working-directory: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
          run: |
            python -m pip install --upgrade pip
            mkdir -p .python_packages/lib/site-packages
            pip install --target=".python_packages/lib/site-packages" -r requirements.txt
  
        # Optional: Add step to run tests here
  
        - name: Zip artifact for deployment
          working-directory: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
          run: zip -r release.zip . -x "venv/*" "__pycache__/*" "*.pyc"
  
        - name: Upload artifact for deployment job
          uses: actions/upload-artifact@v4
          with:
            name: python-app
            path: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}/release.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: python-app

      - name: Unzip artifact for deployment
        run: |
          unzip release.zip
          rm release.zip
        
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_4F2A777776C9406BBCF520ED4CB5782A }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_D4B7B614204040F685164D50BD215F93 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_C77F9A90F0E7407C83AD5A67DD00A642 }}

      - name: 'Deploy to Azure Functions'
        uses: Azure/functions-action@v1
        id: deploy-to-function
        with:
          app-name: 'shopsphere-user-auth'
          slot-name: 'Production'
          package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
          scm-do-build-during-deployment: false
          enable-oryx-build: false
          